<meta charset="UTF-8">
<title>Recipe Book</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.min.js"></script>
<style>
    body { padding-top:50px; }
</style>