<!DOCTYPE html> 
<html> 
  
<head> 
    <%- include('../partials/head'); %>
</head> 
<body class="container">

    <header>
        <%- include('../partials/header', {user: user}); %>
    </header>
    
    <main>
        <div class="jumbotron">
        <% if (!user) { %>
            <h1>Hello! Login to access your Recipe Book</h1>
            <a type="button" class="btn btn-primary" href="/login">Login</a>
        <% } else { %>
            <h1>Hello <%=user.first_name%>, Welcome to your Recipe Book<h1> 
        <% } %>
        </div>
    </main>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
</body>
</html>