<!DOCTYPE html> 
<html> 
  
<head> 
    <%- include('../partials/head'); %>
</head> 
<body class="container">

    <header>
        <%- include('../partials/header', {user: user}); %>
    </header>
    
    <main>
        <div class="jumbotron">
            <h1>Hi <%=name%>, Welcome to your Recipe Book</h1>
            <% if (!user) { %>
            <a type="button" class="btn btn-primary" href="/login">Login</a>
            <% } %>
        </div>
    </main>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
</body>
</html>